.notification{
    width: 200px;
    font-style: italic;
    color: green; 
    border: 5px solid green;
    border-color: green;
    padding: 15px;
    font-size: 25px;
    margin: 10px;
    background-color: gray;
}

.fail{
    width: 200px;
    font-style: italic;
    color: red; 
    border: 5px solid red;
    border-color: red;
    padding: 15px;
    font-size: 25px;
    margin: 10px;
    background-color: gray;
}